@charset "UTF-8";
@IMPORT "common.css";

/*index.html*/
#index_tab{width:90%; margin:0 auto;border:1px solid blue;}
#index_menu>th{border: 1px solid black;width:30%;text-align: center;}
#index_menu>td{border: 1px solid black;width:30%;text-align: center; padding: 20px;}
.index_ul{width:200px; margin:10px;list-style-type:none;}
.index_ul>li{border: 1px solid black;}
.index_ul>li>a{text-decoration: none;}
#footer-box{width:80%; height:50px; margin:10px auto;}

/*login.html*/
#login_id{color:grey;text-align: center;display:inline-block;width:160px;}
#login_pass{color:grey;text-align: center;display:inline-block;width:160px;}
#login_btn{background-color: blue;color:white;width: 166px; height:50px;}
#cancel_btn{background-color: red;color:white;width: 166px; height:50px;}
/*add.html*/
#join_id{display:inline-block;width: 100px;}
#join_name{display:inline-block;width: 100px;}
#join_pass{display:inline-block;width: 100px;}
#join_birth{display:inline-block;width: 100px;}
#join_email{display:inline-block;width: 100px;}
#join_yes_btn{color: white; width:130px; height:30px;}
#join_no_btn{color: white; width:130px; height:30px;}
/*detail.html*/
/*list.html*/
#member_tab{width:90%; margin:0 auto;}
#member_menu>th{background-color:yellow;border-bottom: 1px solid black;height:40px;text-align:center;}
#member_menu>td{border-bottom: 1px solid black;height:40px;text-align:center;}

/*update.html*/